{% extends 'admin/change_list.html' %}

{% block extrahead %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}backend_cms_media/tree/css.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}backend_cms_media/tree/tree_component.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}backend_cms_media/tree/tree_component.css" />

{% endblock %}

{% block content %}

<div id="tree"></div>
<script type="text/javascript">
$("#tree").tree({
  data  : {
    type  : "json",
    json  : {{ tree_json|safe }}
  },
  rules : {
    multitree : true,
    draggable : "all",
    clickable : "all"
  },
  callback : {
    onload : function() {
          $('a.link').click(function(){window.location.href=this.href;});
     },
    onmove : function(what, where, position, tree) { 
               $.post("{% url admin_microcms_page_move %}", { page_id : what.id,
                                                              target_id : where.id,
                                                              position : position});
             }
  }
});

</script>

{% endblock %}
